{% extends 'base.html.twig' %}

{% form_theme formcontact 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="container">
    <center><h1>Contactez-nous !</h1></center>

    {{ form_start(formcontact)}}

    <div class="form-group">
        {{ form_row(formcontact.auteur, { 'attr' : { placeholder : "Votre nom et prenom" }}) }}
    </div>
    <div class="form-group">
        {{ form_row(formcontact.email, { 'attr' : { placeholder : "Votre email" }}) }}
    </div>
    <div class="form-group">
        {{ form_row(formcontact.contenu, { 'attr' : { placeholder : "Votre message" }}) }}
    </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
    {{ form_end(formcontact)}}
{% endblock %}
